<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Регистрация
        </title>
    </head>
    <body>
        <div>
            <label>Кот</label>
            <input type="text" id="cat">
            <button onclick="send()">Отправить</button>
        </div>
    <script>
        send = async () => {
            const cat = document.getElementById("cat").value;

            
            let response = await fetch('http://127.0.0.1:8000/data', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({"cat": cat})
            });

            try {
                const data = await response.json();
                console.log(data);
            } catch (error) {
                console.error("Error parsing JSON:", error);
            }
        };
    </script>
</body>
</html>